@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 233 13% 13%;
    --foreground: 60 30% 96%;

    --card: 231 15% 18%;
    --card-foreground: 60 30% 96%;

    --popover: 231 15% 18%;
    --popover-foreground: 60 30% 96%;

    --primary: 250 100% 75%;
    --primary-foreground: 0 0% 0%;

    --secondary: 230 15% 30%;
    --secondary-foreground: 0 0% 98%;

    --muted: 220 13% 9%;
    --muted-foreground: 219 6% 57%;

    --accent: 220 13% 9%;
    --accent-foreground: 219 6% 57%;

    --destructive: 10 100% 75%;
    --destructive-foreground: 0 0% 0%;

    --border: 230 15% 30%;
    --input: 230 15% 30%;
    --ring: 250 100% 75%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border scrollbar-thin scrollbar-track-secondary scrollbar-thumb-card;
  }
  body {
    @apply bg-background text-foreground selection:bg-primary selection:text-primary-foreground;
  }

  body::after {
    content: '';
    position: fixed;
    background-image: url(/noise.webp);
    background-repeat: repeat, no-repeat;
    background-size: auto, cover;
    inset: 0;
    opacity: 0.75;
    z-index: 100;
    pointer-events: none;
  }

  .align-page {
    @apply container mx-auto w-full space-y-6 pb-16 pt-8 md:max-w-[80%] md:py-12;
  }
}
